body {
  font-family: Georgia;
  font-size: 16px;
  margin: 0 auto;   /* center content */
  max-width: 800px; /* limit width */
  line-height: 1.5;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* BEGIN (write your solution here) */
p{
  display: inline-block;
  margin: 12px;
}
h1, h2, h3{
  font-weight: 400;
}
h1{
  font-size: 36px;
  margin: 0;
}
h2{
  font-size: 32px;
  border: 1px gray;
  margin: 8px;
}
.header-title{
  font-size: 18px;
  border: none;
  margin: 10px;
}
#header{
  margin: 32px;
  text-align: center;
}
#footer{
  margin-top: 64px;
  text-align: center;
}
/* END */
